<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Volunteer List</h2>
  <button class="btn btn-primary" (click)="addVolunteer()" *ngIf="role === 'admin'">Add Volunteer</button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-header">
        <div class="card-tools">
          <div class="d-flex align-items-center">

            <!-- search text -->
            <div class="d-inline-block">
              <div class="input-group" style="width: 150px;">
                <input type="text" name="table_search"
                       class="form-control float-right" placeholder="Search"
                       [(ngModel)]="search" (ngModelChange)="loadVolunteers()">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th style="width: 40px">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let volunteer of volunteers">
            <td>{{ volunteer.name }}</td>
            <td>{{ volunteer.phone }}</td>
            <td>
              <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-warning mr-2" (click)="editVolunteer(volunteer._id)"
                  [disabled]="!(role === 'admin' || (role === 'volunteer' && user?.id === volunteer._id))">
                  <i class="fas fa-pen-to-square"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteVolunteer(volunteer._id)"
                  [disabled]="!(role === 'admin' || (role === 'volunteer' && user?.id === volunteer._id))">
                  <i class="fas fa-trash-can"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer clearfix">
        <!-- Pagination -->
        <app-pagination
          [totalPages]="total"
          [currentPage]="page"
          [limit]="limit"
          (pageChanged)="changePage($event)">
        </app-pagination>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>
