<h2>{{ isEditMode ? 'Edit Fund' : 'Add Fund' }}</h2>

<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <!-- /.card-header -->
      <!-- form start -->
      <form [formGroup]="fundForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Type</label>
                <select class="form-control select2" formControlName="type"
                        [ngClass]="{'is-invalid': fundForm.get('type')?.touched && fundForm.get('type')?.invalid}"
                        (change)="onTypeChange($event.target.value)">
                  <option value="house">House</option>
                  <option value="aarti">Aarti</option>
                  <option value="sponsor">Sponsor</option>
                  <option value="donor">Donor</option>
                  <option value="balance">Balance</option>
                </select>
                <div *ngIf="fundForm.get('type')?.touched && fundForm.get('type')?.invalid" class="text-danger">
                  Type is required.
                </div>
              </div>

              <div *ngIf="fundForm.get('type')?.value === 'house'" class="form-group"
                   (change)="onHouseChange($event.target.value)">
                <label>House</label> (<a routerLink="/house/add">New House</a>)
                <select class="form-control" formControlName="houseId"
                        [disabled]="fundForm.get('houseId')?.disabled">
                  <option *ngFor="let house of houses" [value]="house._id">{{ house.houseNumber }}</option>
                </select>
              </div>

              <!-- Owner Name Display -->
              <div *ngIf="selectedHouseOwner" class="form-group">
                <label>Owner</label>
                <input class="form-control" [value]="selectedHouseOwner" disabled />
              </div>

              <div class="form-group">
                <label>Name</label>
                <input class="form-control" formControlName="name" placeholder="{{ selectedHouseOwner }}"
                       [ngClass]="{'is-invalid': fundForm.get('name')?.touched && fundForm.get('name')?.invalid}"
                       [disabled]="fundForm.get('name')?.disabled">
                <div *ngIf="fundForm.get('name')?.touched && fundForm.get('name')?.invalid" class="text-danger">
                  Name is required.
                </div>
              </div>

              <!-- Alternative Phone Number -->
              <div class="form-group" *ngIf="fundForm.get('type')?.value === 'house'">
                <label>Alternative Phone</label>
                <input type="text" class="form-control" formControlName="alternativePhone">
              </div>

              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" formControlName="date">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Festival Year</label>
                <select class="form-control" formControlName="festivalYear">
                  <option *ngFor="let year of years" value="{{ year }}"
                          [selected]="(selectedYear == year)"
                  >{{ year }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" formControlName="amount"
                       [ngClass]="{'is-invalid': fundForm.get('amount')?.touched && fundForm.get('amount')?.invalid}">
                <div *ngIf="fundForm.get('amount')?.touched && fundForm.get('amount')?.invalid" class="text-danger">
                  Amount is required.
                </div>
              </div>

              <div class="form-group">
                <label>Payment Method</label>
                <select class="form-control" formControlName="paymentMethod"
                        [ngClass]="{'is-invalid': fundForm.get('paymentMethod')?.touched && fundForm.get('paymentMethod')?.invalid}">
                  <option value="Cash">Cash</option>
                  <option value="GPay">GPay</option>
                </select>
                <div *ngIf="fundForm.get('paymentMethod')?.touched && fundForm.get('paymentMethod')?.invalid" class="text-danger">
                  Payment Method is required.
                </div>
              </div>

              <div class="form-group">
                <label>Reference</label>
                <textarea class="form-control" formControlName="reference" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary mr-2">{{ isEditMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-primary mr-2" (click)="saveAndNew()">{{ isEditMode ? 'Update & New' : 'Add & New' }}</button>
          <button type="button" class="btn btn-success mr-2" (click)="saveAndDownload()">{{ isEditMode ? 'Update' : 'Add' }} & <i class="fa-brands fa-whatsapp"></i></button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
