<h2>{{ isEditMode ? 'Edit House' : 'Add House' }}</h2>

<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <!-- /.card-header -->
      <!-- form start -->
      <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">House Number</label>
            <input formControlName="houseNumber" class="form-control" id="exampleInputEmail1" placeholder="Enter house number">
          </div>
          <div class="form-group">
            <label for="ownerName">Owner Name</label>
            <input formControlName="ownerName" class="form-control" id="ownerName" placeholder="Enter owner name">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input formControlName="phone" type="number" class="form-control" id="phone" placeholder="Enter phone">
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary mr-2">{{ isEditMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--<form [formGroup]="houseForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label>House Number</label>-->
<!--    <input formControlName="houseNumber" class="form-control" />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Owner Name</label>-->
<!--    <input formControlName="ownerName" class="form-control" />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Phone</label>-->
<!--    <input formControlName="phone" class="form-control" />-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-success mt-3">-->
<!--    {{ isEditMode ? 'Update' : 'Add' }}-->
<!--  </button>-->
<!--</form>-->
