<!--Title-->
<!--Category-->
<!--Amount-->
<!--Festival-->
<!--Volunteer-->
<!--Settled-->
<!--Action-->

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Expense List</h2>
  <button class="btn btn-primary" (click)="addExpense()">Add Expense</button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-header">
        <div class="card-tools">
          <div class="d-flex flex-wrap align-items-center">


            <!-- year filer -->
            <div class="mr-3 mb-2">
              <select class="form-control" [(ngModel)]="year" (change)="onYearChange()">
                <option value="">All</option>
                <option *ngFor="let year of years" value="{{ year }}"
                        [selected]="(selectedYear == year)"
                >{{ year }}
                </option>
              </select>
            </div>

            <!-- festival filer -->
            <div class="mr-3 mb-2">
              <select class="form-control" [(ngModel)]="festivalId" (change)="onFestivalChange()">
                <option value="">All</option>
                <option *ngFor="let festival of festivals" value="{{ festival._id }}"
                        [selected]="(festival._id == festivalId)"
                >{{ festival.name }} ({{ festival.year }})
                </option>
              </select>
            </div>

            <!-- volunteer filer -->
            <div class="mr-3 mb-2">
              <select class="form-control" [(ngModel)]="volunteerId" (change)="loadExpenses()">
                <option value="">All</option>
                <option *ngFor="let volunteer of volunteers" value="{{ volunteer._id }}"
                        [selected]="(volunteer._id == volunteerId)"
                >{{ volunteer.name }}
                </option>
              </select>
            </div>

            <!-- search amount -->
            <div class="mr-3 mb-2" style="width: 150px;">
              <input type="text" name="table_search"
                     class="form-control float-right" placeholder="Search amount"
                     [(ngModel)]="amount" (ngModelChange)="loadExpenses()">
            </div>

            <!-- search text -->
            <div class="mb-2">
              <div class="input-group" style="width: 150px;">
                <input type="text" name="table_search"
                       class="form-control float-right" placeholder="Search"
                       [(ngModel)]="search" (ngModelChange)="loadExpenses()">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Festival</th>
            <th>Payment By</th>
            <th>Payment Method</th>
            <th>Payment At</th>
            <th>Settled</th>
            <th style="width: 40px">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let expense of expenses">
            <td>
              {{ expense.description | titlecase }}

              <i *ngIf="expense.note"
                 class="fas fa-note-sticky text-warning ml-2"
                 role="button"
                 title="View Note"
                 data-toggle="modal"
                 data-target="#noteModal"
                 (click)="setSelectedNote(expense.note)">
              </i>

            </td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount | currency:'INR':'symbol' }}</td>

            <td>{{ expense.festivalId.name }} ({{ expense.festivalYear }})</td>
            <td>{{ expense.volunteerId?.name }}</td>
            <td class="text-center">
              <i *ngIf="expense.paymentMethod === 'Cash'" class="fas fa-money-bill-1-wave text-success fa-2x"
                 title="Cash"></i>
              <i *ngIf="expense.paymentMethod === 'GPay'" class="fa-brands fa-google-pay text-primary fa-2x"
                 title="Gpay"></i>
            </td>
            <td>{{ expense.date | date: "dd-MMM-yyyy" }}</td>
            <td>
              <span *ngIf="!expense.isSettled" class="badge badge-danger" role="button"
                    (click)="toggleSettled(expense._id, expense.isSettled)"
                    [class.disabled]="!canToggle(expense)"
                    [style.pointer-events]="!canToggle(expense) ? 'none' : 'auto'"
              >Not Settled</span>
              <span *ngIf="expense.isSettled" class="badge badge-success" role="button"
                    (click)="toggleSettled(expense._id, expense.isSettled)"
                    [class.disabled]="!canToggle(expense)"
                    [style.pointer-events]="!canToggle(expense) ? 'none' : 'auto'"
              >Settled</span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-warning mr-2" (click)="editExpense(expense._id)"
                    [disabled]="!(role === 'admin' || (role === 'volunteer' && user?.id === expense.volunteerId?._id))">
                  <i class="fas fa-pen-to-square"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteExpense(expense._id)"
                        [disabled]="!(role === 'admin' || (role === 'volunteer' && user?.id === expense.volunteerId?._id))">
                  <i class="fas fa-trash-can"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer clearfix">
        <!-- Pagination -->
        <app-pagination
          [totalPages]="total"
          [currentPage]="page"
          [limit]="limit"
          (pageChanged)="changePage($event)">
        </app-pagination>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>

<!-- Note Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Expense Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ selectedNote }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
