<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link d-flex justify-content-center align-items-center">
    <img src="assets/festival_logo_white.png" alt="Festival Expense Logo" class="img-fluid shadow" width="90%">
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-widget="treeview">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- Start: House List -->
        <li class="nav-item" *ngIf="role !== 'non-admin'">
          <a routerLink="/house" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-house"></i>
            <p>House</p>
          </a>
        </li>
        <!-- End: House List -->
        <!-- Start: Volunteer List -->
        <li class="nav-item" *ngIf="role !== 'non-admin'">
          <a routerLink="/volunteer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-users"></i>
            <p>Volunteer</p>
          </a>
        </li>
        <!-- End: Volunteer List -->
        <!-- Start: Festival List -->
        <li class="nav-item" *ngIf="role !== 'non-admin'">
          <a routerLink="/festival" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-star"></i>
            <p>Festival</p>
          </a>
        </li>
        <!-- End: Festival List -->
        <!-- Start: Festival List -->
        <li class="nav-item" *ngIf="role !== 'non-admin'">
          <a routerLink="/fund" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-indian-rupee-sign"></i>
            <p>Funds</p>
          </a>
        </li>
        <!-- End: Festival List -->
        <!-- Start: Expense List -->
        <li class="nav-item" *ngIf="role !== 'non-admin'">
          <a routerLink="/expense" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
             (click)="closeSidebar()">
            <i class="nav-icon fas fa-chart-column"></i>
            <p>Expenses</p>
          </a>
        </li>
        <!-- End: Expense List -->
      </ul>
    </nav>
  </div>
</aside>
