<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">Festival Expense Tracker</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-widget="treeview">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- Start: House List -->
        <li class="nav-item">
          <a routerLink="/house" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="nav-icon fas fa-house"></i>
            <p>House</p>
          </a>
        </li>
        <!-- End: House List -->
        <!-- Start: Volunteer List -->
        <li class="nav-item">
          <a routerLink="/volunteer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="nav-icon fas fa-user-group"></i>
            <p>Volunteer</p>
          </a>
        </li>
        <!-- End: Volunteer List -->
        <!-- Start: Festival List -->
        <li class="nav-item">
          <a routerLink="/festival" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="nav-icon fas fa-star"></i>
            <p>Festival</p>
          </a>
        </li>
        <!-- End: Festival List -->
        <!-- Start: Festival List -->
        <li class="nav-item">
          <a routerLink="/fund" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <i class="nav-icon fas fa-indian-rupee-sign"></i>
            <p>Funds</p>
          </a>
        </li>
        <!-- End: Festival List -->
      </ul>
    </nav>
  </div>
</aside>
